rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/invoices/{invoiceId} {
      allow read, delete: if request.auth != null
        && request.auth.uid == userId;
      allow create: if request.auth != null
        && request.auth.uid == userId
        && request.resource.data.status == 'unpaid';
      allow update: if request.auth != null
        && request.auth.uid == userId
        && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['status'])
        && (
          (resource.data.status == 'unpaid'
            && request.resource.data.status in ['paid', 'overdue'])
          || (resource.data.status == 'overdue'
            && request.resource.data.status == 'paid')
          || (resource.data.status == 'paid'
            && request.resource.data.status == 'paid')
        );
    }
  }
}